# GitHub Action to automate the identification of common misspellings in text files.
# https://github.com/codespell-project/actions-codespell
# https://github.com/codespell-project/codespell
name: codespell
on: [push, pull_request]

permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          skip: ".git,*.crt,*.svg,*.vtp, ./Resources/*.h, ./Utilities/Scripts/runCodespell.sh"
          ignore_words_file: .codespellignore
