name: CI (Lint)

on:
  # Triggers the workflow on push or pull request events
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6 #

      - uses: actions/setup-python@v6
        with:
          python-version: "3.9"

      - uses: pre-commit/action@v3.0.1
